[submodule "jni/libdatachannel"]
	path = jni/libdatachannel
	url = https://github.com/teamziax/libdatachannel.git
	branch = v0.24.1
[submodule "jni/cmake-conan"]
	path = jni/cmake-conan
	url = https://github.com/conan-io/cmake-conan.git
